.blackBar {
  background-color: var(--dark);
  font-size: 3vw;
  padding: 1vw 10vw;
  color: var(--light);
  box-shadow: 0px 10px 0px var(--dark);
}

.GridContainer {
  padding: 6vw;
  padding-bottom: 0;
  gap: 2vw;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 49% 49%;
}

/*table style*/

.tableContainer {
  width: 100%;
  color: var(--dark);
}

.tableHeader {
  display: flex;
  color: var(--light);
  font-size: 2.5vw;
  gap: 0.5vw;
}

.tableHeaderCell {
  background-color: var(--blue);
  flex: 1;
  border-radius: 5%;
  padding: 2vw;
  cursor: pointer;
  text-align: center;}


.tableBody {
  display: flex;
  flex-direction: column;
  font-size: 2vw;
}

.tableRow {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

.tableCell {
  text-align: center;
  flex: 1;
  padding: 3vw;
  cursor: pointer;
}

.tableHeaderCell:hover {
  background-color: var(--dark);
}
.tableRow:hover {
  border: solid 3px var(--dark);
}

/*graphic */

.graphicContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.graphic {
  color: var(--dark);
  position: fixed;
  display: flex;
  justify-content: center;
  margin: 0px 0px;
}

.changeViewIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 110%;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  border: 2px solid var(--dark);
  background-color: transparent;
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.8);
}

.changeViewIcon svg {
  width: 60%;
  height: 60%;
}

@media (max-width: 680px) {
  .GridContainer {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(40%, auto);
  }
  .graphicContainer{
    margin: 5vw 0;
  }

  .graphic {
    width: 80%;
    height: auto;
    position: absolute;
  }
  .changeViewIcon {
    left: 100%;
  }
}