h1 {
  font-size: 3vw;
}

.GridContainer{
  padding: 4vw;
  padding-top: 10px;
  gap: 5vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-columns: 50% 50%;
}

@media (max-width: 500px) {
  .GridContainer{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
}

/*table style*/

.tableContainer{
  max-width: 600px;
  min-width: 300px;
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  max-width: 600px;
  min-width: 300px;
  text-align: center;
  color: black;
  font-size: 2.5vw;
  border: solid var(--grey) 1px;
}

th{
  font-size: 3vw;
  cursor: pointer;
  background-color: var(--light-blue);
  padding: 1vw;
}

th, td {
  border: solid var(--grey) 1px;
  padding: 1vw;
}
tr:hover{
  background-color: var(--light-brown);
}

.graphicContainer{
  position: sticky;
  top: 2vw;
  max-width: 600px;
  min-width: 300px;
  display: flex;
  justify-content: center;
}