h1 {
  font-size: 3vw;
}

.GridContainer{
  padding: 4vw;
  padding-top: 10px;
  gap: 5vw;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 50% 50%;
}

@media (max-width: 500px) {
  .GridContainer{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
}

/*table style*/

.tableContainer{
  max-width: 600px;
  min-width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  max-width: 600px;
  min-width: 300px;
  text-align: center;
  color: black;
  font-size: 2.5vw;
  border: solid var(--dark) 1px;
}

th{
  font-size: 3vw;
  cursor: pointer;
  background-color: var(--dark-blue);
  padding: 1vw;
}

th, td {
  border: solid var(--dark) 2px;
  padding: 1vw;
}
tr:hover{
  background-color: var(--dark-blue);
}

/*graphic */

.graphicContainer{
  max-width: 600px;
  min-width: 300px;
  height: 100vh;
  display: flex;
  padding-left: 2vw;
  justify-content: center;
}

.graphic{
  position: sticky;
  top: 4vw;
  height: fit-content;
}

/* chart View */
.chart{
    box-sizing: border-box !important;
    display: block !important;
    height: auto !important;
    width: 90% !important;
}
