:root{
  --light-blue: lightblue;
  --light-brown: #deb887;
  --grey: grey;
}


body {
  width: 100%;
  height: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background: linear-gradient(
      to bottom right, 
      var(--light-blue),
      var(--light-brown)
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
