:root {
  --light-blue: lightblue;
  --light-brown: #deb887;
  --grey: grey;
}

html, body {
  width: 100%;
  height: auto;
  min-width: 100%;
}

body {
  margin: 0px;
  padding: 3vw;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: linear-gradient(to bottom right,
      var(--light-blue),
      var(--light-brown));
  background-repeat: no-repeat;
  background-attachment: fixed;
}